.scale
    position: absolute
    height: 8px
    width: 100%
    border: 1px solid grey
    border-radius: 5px
    margin: 3.5px 0 0 0
    z-index: 1

    &_vertical
        width: 8px
        height: 100%
        margin: 8px 0 0 2.5px

    &__value
        position: absolute
        top: 20px
        height: 20px
        width: 1px
        background-color: black

        &_even
            position: absolute
            top: 25px
            height: 10px
            width: 1px
            background-color: black