.scale
    position: absolute
    height: 8px
    width: 100%
    border: 1px solid grey
    border-radius: 5px
    margin: 3.5px 0 0 8px
    z-index: 1

    &_vertical
        width: 8px
        height: 100%
        margin: 8px 0 0 2.5px

    &__value
        position: absolute
        top: 8px
        left: 3px
        height: 8px
        border: 1px solid black