.progress-bar
    position: absolute
    height: 8px
    width: 100%
    border: 1px solid grey
    border-radius: 5px
    margin: 3.5px 0 0 8px
    

    &_vertical
        width: 8px
        height: 100%
        margin: 8px 0 0 2.5px

    &__fill
        position: absolute
        height: 8px
        background-color: blue
        border-radius: 5px
        z-index: 1

        &_vertical
            width: 8px
            height: 100%
