.fsd-slider__scale
    width: 100%
    height: auto
    display: flex
    justify-content: space-between
    padding: 0
    margin: 0

    &_vertical
        flex-direction: column

.scale__stripe
    height: 16px
    width: 1px
    background-color: black
    margin: auto 0

    &_vertical
        height: 1px
        width: 16px
        margin: 0 auto
        background-color: black

    &_even
        height: 8px
        width: 1px
        background-color: black
        margin: auto 0

        &_vertical
            height: 1px
            width: 8px
            margin: 0 auto
            background-color: black

    