.fsd-slider__scale
    width: 100%
    height: auto
    display: flex
    justify-content: space-between
    padding: 0
    margin: 0

    &_vertical
        width: auto
        height: auto
        flex-direction: column

.scale__stripe

    &_width_full
        width: 16px
        background-color: black
    
    &_width_short
        width: 8px
        background-color: black
        margin: 0 auto

    &_width_null
        width: 1px
        background-color: black

    &_height_full
        height: 16px
        background-color: black

    &_height_short
        height: 8px
        background-color: black
        margin: auto 0

    &_height_null
        height: 1px
        background-color: black

    